" AutoMagically Install vim-plug

set hidden " Lets you close a non-saved buffere and retain work "

" Don't let scroll to top... Keep context
set scrolloff=8
set sidescrolloff=8


" Re highlight after indent...
" vnoremap < <gv
" vnoremap > >gv

"Fuzzy Search Mapping CTL + p"
map <C-p> :Files<CR>

"Faster scrolling
set ttyfast

"remap vim command prefix
nnoremap ; :

"Try to keep lines to 80...
set colorcolumn=120

"don't skip wrapped lines"
nnoremap j gj
nnoremap k gk

"Searching Mappings"
nnoremap / /\v
vnoremap / /\v

nnoremap ? ?\v
vnoremap ? ?\v

set hlsearch incsearch

"CTL + h,j,k,l to go left, down, up, right "
"Navigating Panes"
map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-l> <C-W>l

"Navigating Tabs..."
nnoremap <S-h> :tabprevious<CR>
nnoremap <S-l> :tabnext<CR>
nnoremap <S-t> :tabnew<CR>
nnoremap <S-w> :tabclose<CR>

" Resizing Vertical & Horizontal Splits
nnoremap <s-j> :resize -1<CR>
nnoremap <s-k> :resize +1<CR>
nnoremap <s-o> :vertical resize -1<CR>
nnoremap <s-u> :vertical resize +1<CR>
" Shortcut to rapidly toggle `set list`
nmap <leader>l :set list!<CR>

" Use the same symbols as TextMate for tabstops and EOLs
set listchars=tab:▸\ ,eol:¬

"Invisible character colors 
highlight NonText guifg=#4a4a59
highlight SpecialKey guifg=#4a4a59


" Ejs support?
au BufNewFile,BufRead *.ejs set filetype=html

" Set color scheme from plugins/theme.vim
colorscheme tender

"Modifiable
:set ma

"Cursor Line
set cursorline

"Hybrid Numbering"
set number relativenumber
set nu rnu

"Syntax Highlight
syntax enable
filetype indent on

"Tab Config
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab

" Folding Settings
" set foldlevelstart=0
" set foldnestmax=5
" set foldmethod=indent " Setting this to syntax screws performance... 
" set foldenable

"Important Key Mappings
nnoremap <space> za
imap jk <ESC>

set showmatch

" Close syntastic window
nnoremap <C-c> :lclose<CR>

